In [1]:
pwd

'C:\\Users\\Jian Wang\\Desktop\\py\\Kaggle-Comp\\digit'

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 0212-CE0A

 Directory of C:\Users\Jian Wang\Desktop\py\Kaggle-Comp\digit

2019/05/06  12:06    <DIR>          .
2019/05/06  12:06    <DIR>          ..
2019/05/06  12:06    <DIR>          .ipynb_checkpoints
2019/05/06  10:40    <DIR>          input
2019/05/06  12:06                72 Untitled.ipynb
               1 File(s)             72 bytes
               4 Dir(s)  37,382,643,712 bytes free

In [3]:
ls input

 Volume in drive C is Windows
 Volume Serial Number is 0212-CE0A

 Directory of C:\Users\Jian Wang\Desktop\py\Kaggle-Comp\digit\input

2019/05/06  10:40    <DIR>          .
2019/05/06  10:40    <DIR>          ..
2018/04/26  17:53           240,909 sample_submission.csv
2018/04/26  17:53        51,118,296 test.csv
2018/04/26  17:53        76,775,041 train.csv
               3 File(s)    128,134,246 bytes
               2 Dir(s)  37,382,639,616 bytes free

In [4]:
import pandas as pd

In [8]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
sample = pd.read_csv('input/sample_submission.csv')

In [6]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
sample.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [10]:
train.shape

(42000, 785)

In [11]:
test.shape

(28000, 784)

In [12]:
sample.shape

(28000, 2)

In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.python import keras
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Flatten, Conv2D, Dropout

In [15]:
img_rows, img_cols = 28, 28
num_classes = 10

In [29]:
def data_prep(raw):
    out_y = keras.utils.to_categorical(raw.label, num_classes)

    num_images = raw.shape[0]
    x_as_array = raw.values[:,1:]
    x_shaped_array = x_as_array.reshape(num_images, img_rows, img_cols, 1)
    out_x = x_shaped_array / 255
    return out_x, out_y

In [31]:
x, y = data_prep(train)

In [21]:
model = Sequential()
model.add(Conv2D(20, kernel_size=(3, 3), 
                 activation='relu',
                 input_shape=(img_rows, img_cols, 1)))
model.add(Conv2D(20, kernel_size=(3, 3), activation='relu'))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

In [22]:
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer='adam',
              metrics=['accuracy'])

In [32]:
model.fit(x, y,
          batch_size=128,
          epochs=2,
          validation_split=0.2)

Train on 33600 samples, validate on 8400 samples
WARNING:tensorflow:From d:\python\python36\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/2
33600/33600 [==============================] - 27s 806us/sample - loss: 0.2366 - acc: 0.9297 - val_loss: 0.0853 - val_acc: 0.9743
Epoch 2/2
33600/33600 [==============================] - 26s 780us/sample - loss: 0.0669 - acc: 0.9801 - val_loss: 0.0625 - val_acc: 0.9798

In [33]:
def test_prep(raw):
    num_images = raw.shape[0]
    x_as_array = raw.values[:, :]
    x_shaped_array = x_as_array.reshape(num_images, img_rows, img_cols, 1)
    out_x = x_shaped_array / 255
    return out_x

In [36]:
test_x = test_prep(test)

In [37]:
preds = model.predict(test_x)

In [38]:
preds

array([[1.1307055e-06, 2.2865428e-13, 9.9999833e-01, ..., 6.1676438e-08,
        3.8188713e-07, 7.2620779e-08],
       [9.9995923e-01, 1.6041021e-11, 3.4470977e-06, ..., 1.8406415e-06,
        2.1055114e-06, 5.1156489e-06],
       [1.8417406e-07, 8.8895587e-07, 1.5439851e-04, ..., 2.1131808e-04,
        2.3381568e-04, 9.9826270e-01],
       ...,
       [1.8613956e-10, 1.8213561e-09, 3.1651123e-08, ..., 3.3628687e-08,
        1.7951037e-05, 8.1221833e-06],
       [2.0888299e-07, 8.2315186e-09, 8.3427796e-07, ..., 1.9488952e-03,
        4.3754708e-06, 9.9733341e-01],
       [4.9493119e-06, 3.7583274e-12, 9.9995410e-01, ..., 2.1041927e-07,
        3.7387363e-05, 2.3987350e-06]], dtype=float32)

In [50]:
np.argmax(preds, axis=1)

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [52]:
df = pd.DataFrame(np.argmax(preds, axis=1))

In [72]:
df['ImageId'] = sample.ImageId

In [78]:
df[0].name = 'Label'

In [81]:
df.columns = ['label', 'Imageld']

In [83]:
cols = ['Imageld', 'label']

In [85]:
df = df[cols]

In [90]:
df.columns = ['ImageId', 'label']

In [92]:
df.to_csv('submission.csv')

In [96]:
df.set_index(['ImageId'])

         label
ImageId
1            2
2            0
3            9
4            9
5            3
6            7
7            0
8            3
9            0
10           3
11           5
12           7
13           4
14           0
15           4
16           3
17           3
18           1
19           9
20           0
21           9
22           1
23           1
24           5
25           7
26           4
27           2
28           7
29           4
30           7
...        ...
27971        5
27972        0
27973        4
27974        8
27975        0
27976        3
27977        6
27978        0
27979        1
27980        9
27981        3
27982        1
27983        1
27984        0
27985        4
27986        5
27987        2
27988        2
27989        9
27990        6
27991        7
27992        6
27993        1
27994        9
27995        7
27996        9
27997        7
27998        3
27999        9
28000        2

[28000 rows x 1 columns]

In [97]:
df.set_index(['ImageId']).to_csv('submission.csv')